@using System.Threading
@using BLWTraning.Common.Helpers

@using Omu.AwesomeMvc
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>BLWTraining | @ViewBag.Title</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}



    <!-- Primary Inspinia style -->
    @Styles.Render("~/font-awesome/css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
	<link href="@Url.Content("~/Content/kendo/2014.3.1411/kendo.common-bootstrap.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2014.3.1411/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2014.3.1411/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2014.3.1411/kendo.bootstrap.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2014.3.1411/kendo.dataviz.bootstrap.min.css")" rel="stylesheet" type="text/css" />
	<script src="@Url.Content("~/Scripts/kendo/2014.3.1411/jquery.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2014.3.1411/jszip.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2014.3.1411/kendo.all.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2014.3.1411/kendo.aspnetmvc.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
</head>
<body>

    <!-- Wrapper-->
    <!-- PageClass give you ability to specify custom style for specific view based on action -->
    <div id="wrapper" class="@Html.PageClass()">

        <!-- Navigation -->
        @Html.Partial("_Navigation")

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg @ViewBag.SpecialClass">

            <!-- Top Navbar -->
            @Html.Partial("_TopNavbar")

            <!-- Main view  -->
            @RenderBody()

            <!-- Footer -->
            @Html.Partial("_Footer")

        </div>
       

    </div>
    <script src="~/Scripts/json2.js"></script>
    <!-- End wrapper-->
    <!-- Section for main scripts render -->
 
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/plugins/slimScroll")
    @Scripts.Render("~/bundles/inspinia")
    <script src="~/Scripts/AwesomeMvc.js"></script>
    <script src="~/Scripts/validate.js"></script>
    <script src="~/Scripts/unobstrusive.js"></script>

    <script src="~/Scripts/Site.js"></script>

    <!-- Handler for local scripts -->
    @RenderSection("scripts", required: false)
    
    <script>
    var root = '@Url.Content("~")';
    var popupMod = 'bootstrap';
    var isMobileOrTablet = '@Utils.IsMobileOrTablet()' == "True";
    var dateFormat = '@AweUtil.ConvertTojQueryDateFormat(Thread.CurrentThread.CurrentCulture.DateTimeFormat.ShortDatePattern)';
    init(dateFormat, isMobileOrTablet);
    $(function () { documentReady(root, popupMod); });
    $.fn.bootstrapBtn = $.fn.button.noConflict();
    </script>

</body>
</html>
