@model BlwTraining.ViewModels.TrainingSessionLiveEventViewModel


@Html.HiddenFor(m => m.Id)
@Html.HiddenFor(m => m.TrainingSessionId)

<div class="form-group">
    @Html.LabelFor(m => m.EventName, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.EventName, new{@class="form-contro"})
</div>

<div class="form-group">
    @Html.LabelFor(m => m.StartDate, new { @class = "control-label" })
    @Html.Kendo().DatePickerFor(m => m.StartDate).HtmlAttributes(new{@class="form-control"})
</div>

<div class="form-group">
    @Html.LabelFor(m => m.FMSUrl, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.FMSUrl, new { @class = "form-contro" })
</div>