@model BlwTraining.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}


@Html.Partial("_headerPartial")

<div class="wrapper wrapper-content animated fadeInDownBig">
    <div class="row">
        <div class="ibox float-e-margins">

            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-6 b-r">
                        <h3 class="m-t-none m-b">Request a Password Reset</h3>
                       @Html.Partial("_validationSummary")
                        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
                        {
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email)
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

                            </div>
                            <div>
                                <button class="btn btn-sm btn-primary m-t-n-xs" type="submit"><strong>Log in</strong></button>
                            </div>
                        }
                    </div>
                    <div class="col-sm-3">
                        <h4>Not a member?</h4>
                        <p>You can create an account:</p>
                        <p class="text-center">
                            <a href="@Url.Action("Register", "Account")"><i class="fa fa-sign-in big-icon"></i></a>
                        </p>
                    </div>
                    <div class="col-sm-3">
                        <h4>Sign In?</h4>
                        <p>Sign In To Access Training Resources</p>
                        <p class="text-center">
                            <a href="@Url.Action("Login","Account")"><i class="glyphicon glyphicon-log-in big-icon"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/iCheck")

    <script type="text/javascript">
        $(document).ready(function () {

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

        });
    </script>
}

