
@model BlwTraining.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Log in";
}

@Html.Partial("_headerPartial")

<div class="wrapper wrapper-content animated fadeInDownBig">
    <div class="row">
        <div class="ibox float-e-margins">
          
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-6 b-r">
                        <h3 class="m-t-none m-b">Sign in</h3>
                        <p>Sign in to access training resources.</p>
                        @Html.Partial("_validationSummary")
                        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                        {
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email) 
                                @Html.TextBoxFor(m => m.Email, new{@class="form-control"})
                             
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password)
                                @Html.PasswordFor(m => m.Password, new{@class="form-control"})
                            </div>
                            <div>
                                <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>Log in</strong></button>
                                <label> <input type="checkbox" class="i-checks"> Remember me</label>
                            </div>
                        }
                      
                          
                       
                    </div>
                    <div class="col-sm-3">
                        <h4>Not a member?</h4>
                        <p>You can create an account:</p>
                        <p class="text-center">
                            <a href="@Url.Action("Register", "Account")"><i class="fa fa-sign-in big-icon"></i></a>
                        </p>
                    </div>
                    <div class="col-sm-3">
                        <h4>Forgot your password?</h4>
                        <p>You can always request a password reset</p>
                        <p class="text-center">
                            <a href="@Url.Action("ForgotPassword","Account")"><i class="glyphicon glyphicon-lock big-icon"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/iCheck")

    <script type="text/javascript">
        $(document).ready(function () {

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

        });
    </script>
}

